@import 'static/styles/index';

body {
    font-family: 'Urbanist', sans-serif;
}

//img click zooming
#magnifying-area {
    position: relative;
    height: 40vh;
    overflow: hidden;
    cursor: zoom-in;
    @media ($tablet) {height: 85vh;}
}

#magnifying-img {
    transform: translate(0, 0) !important;
    @media ($laptop) {
        position: absolute;
        left: 50%;
        top: 50%;
        pointer-events: none;
        transform: translate(-50%, -50%) !important;
    }
}

.hide {
    display: none;
}

.click-scale {
    transition: all .3s ease;
}

.loading {
    filter: blur(10px);
}

.loaded {
    filter: blur(0);
    transition: filter 0.3s linear;
}