@import 'static/styles/index';

body {
    font-family: 'Urbanist', sans-serif;
}

//img click zooming
#magnifying-area {
    position: relative;
    //width: 85vw;
    height: 85vh;
    overflow: hidden;
    cursor: zoom-in;
}

#magnifying-img {
    position: absolute;
    left: 50%;
    top: 50%;
    //max-width: 100%;
    //min-width: 100%;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.hide {
    display: none;
}

.click-scale {
    transition: all .3s ease;
}