@import 'static/styles/index';

body {
    font-family: 'Urbanist', sans-serif;
}

//img click zooming
#magnifying-area {
    position: relative;
    height: 40vh;
    overflow: hidden;
    @media ($tablet) {height: 85vh;}
    @media ($laptop) {cursor: zoom-in;;}
}

#magnifying-img {
    transform: translate(0, 0);
    @media ($laptop) {
        position: absolute;
        left: 50%;
        top: 50%;
        pointer-events: none;
        transform: translate(-50%, -50%);
    }
}

.auth-logo {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    @media ($laptop) {padding: 10px 30px;}
}

.hide {
    display: none !important;
}

.click-scale {
    transition: all .3s ease;
}

.loading {
    filter: blur(10px);
}

.loaded {
    filter: blur(0);
    transition: filter 0.3s linear;
}

.preloader, .product-alert {
    @include flex-center();
    margin: 30px auto;
    height: 70px;
}

.MuiBadge-colorSecondary {
    background-color: #f48fb1 !important;
}

.alert-wishlist {
    background-color: #f48fb1 !important;
    color: white !important;

    .MuiAlert-icon {
        color: white !important;
    }
}