@import '../../index';

.auth {
    @include flex-center();
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, .3), rgba(255, 255, 255, .5));
    overflow: hidden;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 75%;
        background-color: white;
        padding: 20px;
        @media ($projector) {width: 40%;}
        &.login-wrapper{@media ($laptop) {width: 25%;}}

        h1 {
            text-align: center;
            font-size: 24px;
            font-weight: 300;
            text-transform: uppercase;
        }

        form {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
            width: 100%;
            margin: 20px 0;
            @media ($tablet) {grid-template-columns: repeat(2, 1fr);}
            &.login-form {grid-template-columns: repeat(1, 1fr);}

            input {
                padding: 10px;
            }
        }

        span {
            font-size: 12px;
        }

        button {
            @include btn();
            width: 100%;
            color: white;
            background-color: teal;
            font-size: 16px;
            text-transform: uppercase;
            margin-top: 20px;
            padding: 15px 20px;
            &:hover {background-color: #036f6f;}
            @media ($laptop) {width: 40%;}
            &.login-btn{margin: 10px 0;}
        }

        a {
            @include link();
            color: black;
            font-size: 12px;
            text-align: center;
            text-transform: capitalize;
            text-decoration: underline;
            margin: 5px 0;
            &:hover {color: #036f6f;}
        }
    }


    img {
        @include img();
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -10;
        &.login-bg {object-position: right;}
    }
}