.widgetLg-table {
    border-collapse: collapse;
    width: 100%;
}

.widgetLg-table th {
    //text-align: left;
    background-color: #04AA6D;
    color: white;
    border: 1px solid #ddd;
    padding: 8px;
}

.widgetLg-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.widgetLgButton {
    justify-content: center;
    display: flex;
    align-items: center;
    color: var(--colors-title);
    text-decoration: none;
    cursor: pointer;
}

.widgetLgStatus {
    width: 63px;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;

    &.approved {
        color: green;
        background-color: rgba(0, 128, 0, .151);
    }

    &.pending {
        color: rgb(238, 125, 54);
        background-color: rgba(218, 165, 32, 0.2);
    }

    &.rejected {
        color: crimson;
        background-color: rgba(255, 0, 0, 0.2);
    }
}
