.editUser {
    flex-wrap: wrap;

    .containerUpd {
        display: flex;

        .update {
            display: flex;
            justify-content: space-around;
            width: 100%;

            .avatar {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                .imgInput {
                    border-radius: 50%;

                    label {
                        position: relative;
                        display: block;
                        width: 225px;
                        height: 225px;
                        border-radius: 50%;
                        background-color: transparent;
                        cursor: pointer;
                        overflow: hidden;

                        &:hover {
                            .popup {
                                transform: translateY(0);
                            }
                        }

                        img {
                            width: 225px;
                            height: 225px;
                            border-radius: 50%;
                            margin-right: 50px;
                            object-fit: cover;
                        }

                        .popup {
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            height: 100%;
                            color: white;
                            background-color: rgba(11, 11, 11, 0.6);
                            font-size: 18px;
                            transform: translateY(225px);
                            transition: transform 0.5s;

                            svg {
                                font-size: 46px;
                            }
                        }
                    }
                }
            }

            form {
                width: 60%;

                .formInput {
                    display: flex;
                    flex-direction: column;

                    label {
                        display: flex;
                        align-items: center;
                    }

                    input, select {
                        padding: 10px;
                        border: 1px solid gray;
                        color: var(--colors-text);
                        margin-bottom: 10px;
                    }

                    select {
                        background-color: var(--colors-bg-sub);
                    }
                }
            }
        }
    }
}