.sidebar {
    position: fixed;
    width: calc(100vw / 7);
    //flex: 1;
    min-height: 100vh;
    background-color: var(--colors-bg);
    border-right: 0.5px solid var(--colors-border);
    z-index: 1001;

    .top {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        background-color: var(--colors-bg);

        .logo {
            color: var(--color-logo);
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;

            &:hover {
                text-decoration-style: solid;
                text-decoration-line: underline;
            }
        }
    }

    .center {
        .title {
            color: var(--colors-title);
            font-size: 10px;
            font-weight: bold;
            margin: 15px 0 5px;
            padding-left: 10px;
        }

        ul {
            padding: 0 10px;
        }

        a {
            display: block;
            text-decoration: none;
            //transition: border 0.5s;

            &.active {
                background-color: var(--colors-bg-active);
                border-radius: 7px;

                .icon {
                    color: var(--colors-icon-active);
                }

                span {
                    color: var(--colors-text-active);
                }

                &:hover {
                    .icon {
                        color: var(--colors-icon-active);
                    }

                    span {
                        color: var(--colors-text-active);
                    }
                }
            }
        }

        li {
            position: relative;
            display: flex;
            align-items: center;
            padding: 5px 2px 5px 8px;
            cursor: pointer;
            //transition: background-color 0.5s ease 0s;

            &:hover {
                background-color: rgba(112, 184, 92, 0.25);
                border-radius: 7px;

                .icon {
                    color: var(--color-general);
                }

                span {
                    color: var(--color-hover-txt);
                }
            }

            .icon {
                font-size: 18px;
                color: var(--colors-icon);
                //transition: color 0.5s ease 0s;
            }
        }

        span {
            font-size: 13px;
            font-weight: 600;
            color: var(--colors-text);
            margin-left: 10px;
            //transition: color 0.5s ease 0s;
        }
    }

    .bottom {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 10px;
        margin-right: 10px;
        padding: 5px;

        .dark-theme-btn {
            direction: rtl;
            width: 23px !important;
        }

        .border-style {
            width: 30px;
            border: 1px solid transparent;
            border-radius: 5px;
            transition: background-color, border 0.5s ease 0s;
        }

        .colorOption {
            width: 20px;
            height: 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: width 0.5s ease 0s;

            &:hover {
                width: 28px;
            }
        }

        .light {
            background-color: whitesmoke;
            border: 1px solid var(--colors-border-switch-theme2);
        }

        .gray {
            background-color: #333333;
            border: 1px solid var(--colors-border-switch-theme);
        }
    }
}
