@import '../../index';

.cart {
    min-height: calc(100vh - 60px - 230.5px);
    .wrapper {
        padding: 10px;
        @media ($tablet) {padding: 20px;}

        h1 {
            font-weight: 300;
            text-align: center;
            text-transform: uppercase;
        }
    }

    &__header {
        @include flex-between();
        padding: 20px;

        button {
            @include btn();
            border: 1px solid black;
            font-weight: 600;
            text-transform: uppercase;
            padding: 10px;
            &:hover {
                color: white;
                background-color: teal !important;
                border-color: teal;
            }
        }

        .description {
            display: none;
            @media ($phone) {display: flex;}
            p, a {
                @include link();
                color: black;
                text-transform: capitalize;
                text-decoration: underline;
                margin: 0 10px;
            }
        }
    }

    &__footer {
        display: grid;
        grid-template-columns: max(100%);
        @media ($laptop) {grid-template-columns: 70% 30%;}

        .summary {
            border: 2px solid #eee;
            border-radius: 10px;
            padding: 20px;

            h1 {font-weight: 200;}

            .details {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 30px 10px;
                align-items: center;
                text-transform: capitalize;
                margin: 30px 0;

                h3 {font-weight: normal;}
                span {justify-self: flex-end;}

                .details__total {
                    font-size: 24px;
                    font-weight: 500;
                }
            }

            button {
                @include btn();
                width: 100%;
                color: white;
                background-color: black;
                font-weight: 600;
                text-transform: uppercase;
                padding: 10px;
                &:hover {background-color: teal;}
            }
        }
    }

    &__product {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-bottom: 2px solid #eeeeee;
        &:nth-last-child(1) {border: none;}
        @media ($phone) {grid-template-columns: repeat(4, 1fr);}
        @media ($laptop) {grid-template-columns: 230px 1fr 200px 100px;}

        img {
            @include img();
            object-position: center;
            height: 115px;
            width: 115px;
            @media ($phone) {height: 200px; width: 200px;}

        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 20px;

            li {
                text-transform: uppercase;

                b {text-transform: lowercase;}

                &.wrapper-product-color {
                    display: flex;
                    align-items: center;

                    .product-details-color {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        margin-left: 7px;
                    }
                }
            }
        }

        .price {
            flex: 1;
            @include flex-center();
            flex-direction: column;
            margin-bottom: 30px;
            @media ($phone) {margin-bottom: 0;}

            .amount {
                @include flex-center();
                font-size: 24px;
                @media ($phone) {margin-bottom: 20px;}

                svg {
                    cursor: pointer;
                    margin: 5px;
                }
            }

            >span {
                font-size: 30px;
                font-weight: 200;
            }
        }
    }

    &__remove {
        display: flex;
        align-items: center;
        svg {font-size: 24px; cursor: pointer}
    }
}