@import 'src/index';

#categories-left {left: 20px;}
#categories-right {right: 20px;}

.categories {
    position: relative;
    width: 100%;
    overflow: hidden;

    &__wrapper {
        display: flex;
        flex-direction: column;
        transform: translateX(0);
        transition: all 1.5s ease;
        @media ($phone) {flex-direction: row; padding: 20px 0;}
    }

    button {
        display: none;
        @media ($phone) {display: flex}
    }
}