@import 'src/index';

#categories-left {left: 20px;}
#categories-right {right: 20px;}

.categories {
    position: relative;
    width: 100%;
    overflow: hidden;
    &__wrapper {
        display: flex;
        padding: 20px 0;
        transform: translateX(0);
        transition: all 1.5s ease;
    }
}