.editContent {
    display: flex;
    justify-content: center;
    img {
        display: block;
        max-width: 40%;
        height: 100%;
        object-fit: cover;

    }

    .left {
        margin: 0 13px 0 22px;

        .updateMedia {
            position: relative;
            margin-top: 5px;

            label {
                display: flex;
                align-items: center;
                cursor: pointer;

                svg {
                    margin-left: 5px;
                    cursor: pointer;
                }
            }
        }

        .updateVideo {
            position: relative;
            margin-top: 5px;
            cursor: pointer;

            label {
                margin-right: 5px;
                cursor: pointer;
            }

            input {
                max-width: 80%;
                cursor: pointer;
            }
        }

        .check {
            position: absolute;
            top: 1px;
            left: -20px;
            color: var(--color-general);
            font-size: 20px;
            font-weight: bold;
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        width: 35%;

        input {
            padding: 10px;
            border: 1px solid gray;
            color: var(--colors-text);
            margin-bottom: 5px;
        }

        select {
            background-color: var(--colors-bg-sub);
            color: var(--colors-text);
            border: 1px solid gray;
            padding: 10px;
        }
    }
}

.upBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    max-width: 150px;
    height: 40px;
    max-height: 40px;
    color: white;
    font-weight: bold;
    background-color: rgba(112, 184, 92, 0.8);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        background-color: rgba(112, 184, 92, 0.9);
    }

    img {
        width: 40px;
    }
}