@import 'src/index';

.productList {

    &__title {
        margin: 20px;
    }

    &__filter {
        display: flex;
        justify-content: space-between;

        li {
            margin: 0 20px;
            @media ($phone) {margin: 20px;}

            span, label {
                font-size: 16px;
                font-weight: 600;
                @media ($tablet) {font-size: 20px;}
            }
        }

        select {
            padding: 10px;
            @media ($tablet) {margin-left: 20px;}

        }
    }
}