@import 'src/index';

.cart {
    min-height: calc(100vh - 60px - 230.5px);
    .wrapper {
        padding: 20px;

        h1 {
            font-weight: 300;
            text-align: center;
            text-transform: uppercase;
        }
    }

    &__header {
        @include flex-between();
        padding: 20px;

        button {
            @include btn();
            border: 1px solid black;
            font-weight: 600;
            text-transform: uppercase;
            padding: 10px;
            &:hover {
                color: white;
                background-color: teal !important;
                border-color: teal;
            }
        }

        .description {
            display: flex;
            p {
                text-transform: capitalize;
                text-decoration: underline;
                margin: 0 10px;
            }
        }
    }

    &__footer {
        display: grid;
        grid-template-columns: 70% 30%;

        .products {
            .product {
                display: grid;
                grid-template-columns: 230px 1fr 300px;

                img {
                    @include img();
                    object-position: center;
                    height: 200px;
                    width: 200px;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding: 20px;

                    li {
                        text-transform: uppercase;

                        b {text-transform: lowercase;}

                        &.wrapper-product-color {
                            display: flex;
                            align-items: center;

                            .product-details-color {
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                margin-left: 7px;
                            }
                        }
                    }
                }

                .price {
                    flex: 1;
                    @include flex-center();
                    flex-direction: column;

                    .amount {
                        @include flex-center();
                        font-size: 24px;
                        margin-bottom: 20px;
                        svg {
                            cursor: pointer;
                            margin: 5px;
                        }
                    }

                    >span {
                        font-size: 30px;
                        font-weight: 200;
                    }
                }
            }

            hr {
                background-color: #eee;
                border: none;
                height: 2px;
            }
        }

        .summary {
            background-color: azure;
        }
    }
}